---
import Layout from "../layouts/Layout.astro";
import Grid from "../layouts/Grid.astro";

import PhotoImg from '../assets/creator/descargar.svg';
import BondCalcImg from '../assets/projects/bondCalculator.png';
import MockupEditorImg from '../assets/projects/mockupEditor.webp';

import { TimeLine } from "../components/react";

const s = [
	{ id : 'experiencia', label : 'Experiencia Laboral' },
	{ id : 'proyectos', label : 'Mis Proyectos' },
	{ id : 'sobre-mi', label : 'Sobre mí' },
] satisfies Record<number, { id : string, label : string}>
import { getImage } from "astro:assets";

const projects : Array<{
	title : string,
	descr : string,
	link? : string,
	repo? : string,
	img : string,
	tags : (keyof typeof icons)[],
}> = [
	{
		title : 'Aplicación para modelar mockups de web',
		link : 'https://sebaszwolf.github.io/mockup-modeler/',
		repo : 'https://github.com/SebasZwolf/mockup-modeler/',
		descr : 'Herramienta web local que permite al usuario crear un mockup simple del flujo de contenido utilizando una interfaz simplificada.',
		img : MockupEditorImg.src,
		tags : ['vue'],
	},
	{
		title : 'Aplicación de análisis de bonos',
		descr : 'Creado como un proyecto universitario, esta aplicación permite al usuario comprar la rentabilidad de multiples bonos. Debido a cambios en la politica de uso de proveedores cloud, los servicios que requieren iniciar sesion ya no estan disponibles.',
		link : 'https://sebaszwolf.github.io/calculator',
		img : await getImage({
			src : BondCalcImg,
			format : 'webp',
		}).then(e => e.src),
		tags : ['vue'],
	},
];

const icons = {
	vue : {
		icon : 'vue',
		label : 'Vue.js',
		color : '#42b883',
	},
	react : {
		icon : 'react',
		label : 'React.js',
		color : '#61dafb',
	},
	tailwind : {
		icon : 'tailwind',
		label : 'Tailwind CSS',
		color : '#38bdf8',
	},
	css3 : {
		icon : 'css-3',
		label : 'CSS3',
		color : '#214ce5',
	},
	html5 : {
		icon : 'html-5',
		label : 'HTML5',
		color : '#e44d26',
	},
	js : {
		icon : 'js',
		label : 'JavaScript',
		color : '#f0dc4e',
	},
	ts : {
		icon : 'ts',
		label : 'TypeScript',
		color : '#3178c6',
	},
	astro : {
		icon : 'astro',
		label : 'Astro',
		color : 'var(--hierarchy-0)',
	},
	netlify : {
		icon : 'netlify',
		label : 'Netlify',
		color : '#32e6e2',
	},
	static : {
		icon : 'static-cms',
		label : 'Static CMS',
		color : '#6ec5e3',
	},
	node : {
		icon : 'node',
		label : 'NodeJS',
		color : '#339933',
	}
} as const satisfies Record<string, { icon: string, label: string, color: string }> ;

let c = 0;
const imgAuthor = PhotoImg.src;
---

<Layout
	title="Portafolio de Sebastian - Ingeniero de Sistemas y Desarrollador Web"
	description="Hola soy Sebastian y este es mi portafolio. Mira mis proyectos realizados usando CSS,JS y HTML y diferentes tecnologías como Vue, Astro, React, Tailwind, entre otros."
>
	<Grid>
		<Fragment slot="header">
			<article
				class="border-blue-400 p-2 flex flex-col items-center gap-2 max-w-2xl b mx-auto"
			>
				<header class="text-center my-3">
					<picture>
						<img
							class="w-24 block mx-auto my-2 rounded-full overflow-clip border-2 border-opacity-50 border-white p-1"
							src={imgAuthor}
							width="112"
							height="112"
							alt="avatar del desarrollador"
						/>
					</picture>
					<h2 class="m-0 text-xl font-semibold leading-tight">
						<span> hola, soy</span>
						<span class="text-2xl font-bold"> Sebastian</span>
					</h2>
					<p class="text-sm m-0 leading-tight text-[var(--hierarchy-1)]">
						Ingeniero de Sistemas y Desarrollador Web
					</p>
				</header>
				<div class="basis-full leading-snug text-base text-center text-balance">
					<p class="my-1">
						Entusiasta del desarrollo web, el diseño UX y las aplicaciones web.
					</p>
					<p class="my-1">
						Me especializo en el diseño y desarrollo de aplicaciones y experiencias únicas, llamativas y profesionales. 
					</p>
				</div>
			</article>
		</Fragment>

		<Fragment slot="default">
			<svg viewBox="0 0 24 24" class="hidden">
				<defs data-namespace="tag-icons">
					<g id={`c-icon-tag-${icons.vue.icon}`} stroke-width="2" fill="none">
						<path d="M16.5 4l-4.5 8l-4.5 -8" />
						<path d="M3 4l9 16l9 -16" />
					</g>
					<g id={`c-icon-tag-${icons.react.icon}`} stroke-width="1.5" fill="none">
						<path d="M6.306 8.711c-2.602 .723 -4.306 1.926 -4.306 3.289c0 2.21 4.477 4 10 4c.773 0 1.526 -.035 2.248 -.102" />
						<path d="M17.692 15.289c2.603 -.722 4.308 -1.926 4.308 -3.289c0 -2.21 -4.477 -4 -10 -4c-.773 0 -1.526 .035 -2.25 .102" />
						<path d="M6.305 15.287c-.676 2.615 -.485 4.693 .695 5.373c1.913 1.105 5.703 -1.877 8.464 -6.66c.387 -.67 .733 -1.339 1.036 -2" />
						<path d="M17.694 8.716c.677 -2.616 .487 -4.696 -.694 -5.376c-1.913 -1.105 -5.703 1.877 -8.464 6.66c-.387 .67 -.733 1.34 -1.037 2" />
						<path d="M12 5.424c-1.925 -1.892 -3.82 -2.766 -5 -2.084c-1.913 1.104 -1.226 5.877 1.536 10.66c.386 .67 .793 1.304 1.212 1.896" />
						<path d="M12 18.574c1.926 1.893 3.821 2.768 5 2.086c1.913 -1.104 1.226 -5.877 -1.536 -10.66c-.375 -.65 -.78 -1.283 -1.212 -1.897" />
						<path d="M11.5 12.866a1 1 0 1 0 1 -1.732a1 1 0 0 0 -1 1.732z" />
					</g>
					<g id={`c-icon-tag-${icons.tailwind.icon}`} stroke-width="1.5" fill="none">
						<path d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968zm-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968z" />
					</g>

					<g  id={`c-icon-tag-${icons.css3.icon}`} stroke-width="1.5" fill="none">
						<path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
						<path d="M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" />
					</g>
					<g id={`c-icon-tag-${icons.html5.icon}`} stroke-width="1.5" fill="none">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
						<path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" />
					</g>
					<g id={`c-icon-tag-${icons.js.icon}`} stroke-width="1.5" fill="none">
						<path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
						<path d="M7.5 8h3v8l-2 -1" />
						<path d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5" />
					</g>
					<g id={`c-icon-tag-${icons.ts.icon}`} stroke-width="1.5" fill="none">
						<path d="M15 17.5c.32 .32 .754 .5 1.207 .5h.543c.69 0 1.25 -.56 1.25 -1.25v-.25a1.5 1.5 0 0 0 -1.5 -1.5a1.5 1.5 0 0 1 -1.5 -1.5v-.25c0 -.69 .56 -1.25 1.25 -1.25h.543c.453 0 .887 .18 1.207 .5" />
						<path d="M9 12h4" />
						<path d="M11 12v6" />
						<path d="M21 19v-14a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2 -2z" />
					</g>

					<g id={`c-icon-tag-${icons.astro.icon}`} stroke-width="1.0" fill="currentColor" stroke="none" style="scale : .1875">
						<path  d="M50.4 78.5a75.1 75.1 0 0 0-28.5 6.9l24.2-65.7c.7-2 1.9-3.2 3.4-3.2h29c1.5 0 2.7 1.2 3.4 3.2l24.2 65.7s-11.6-7-28.5-7L67 45.5c-.4-1.7-1.6-2.8-2.9-2.8-1.3 0-2.5 1.1-2.9 2.7L50.4 78.5Zm-1.1 28.2Zm-4.2-20.2c-2 6.6-.6 15.8 4.2 20.2a17.5 17.5 0 0 1 .2-.7 5.5 5.5 0 0 1 5.7-4.5c2.8.1 4.3 1.5 4.7 4.7.2 1.1.2 2.3.2 3.5v.4c0 2.7.7 5.2 2.2 7.4a13 13 0 0 0 5.7 4.9v-.3l-.2-.3c-1.8-5.6-.5-9.5 4.4-12.8l1.5-1a73 73 0 0 0 3.2-2.2 16 16 0 0 0 6.8-11.4c.3-2 .1-4-.6-6l-.8.6-1.6 1a37 37 0 0 1-22.4 2.7c-5-.7-9.7-2-13.2-6.2Z" />
					</g>
					<g id={`c-icon-tag-${icons.netlify.icon}`} stroke-width="1.0" fill="currentColor" stroke="none" style="scale : .5">
						<path d="M12.97 38.07h-.45l-2.26-2.25v-.45l3.46-3.44h2.4l.31.32v2.38l-3.46 3.44ZM10.26 12.63v-.45l2.26-2.25h.45l3.46 3.44v2.38l-.32.32h-2.4l-3.45-3.44ZM13.44 25.91H.27L0 25.64v-3.28l.27-.27h13.17l.28.27v3.28l-.28.27ZM47.73 25.91H34.56l-.27-.27v-3.28l.27-.27h13.17l.27.27v3.28l-.27.27ZM22.1 13.1V3.26l.28-.27h3.3l.27.27v9.82l-.27.28h-3.3l-.28-.28ZM22.1 44.73V34.9l.28-.28h3.3l.27.28v9.82l-.27.27h-3.3l-.28-.27Z"/>
						<path d="M30.17 30.82h-3.29l-.27-.27v-7.67c0-1.36-.54-2.42-2.2-2.45-.85-.02-1.82 0-2.86.04l-.16.16v9.91l-.27.28h-3.3l-.27-.28V17.45l.28-.27h7.4a5.2 5.2 0 0 1 5.22 5.18v8.19l-.28.27Z"/>
					</g>
					<g id={`c-icon-tag-${icons.node.icon}`} stroke-width="1.5" stroke="currentColor" fill="none">
						<path d="M9 9v8.044a2 2 0 0 1 -2.996 1.734l-1.568 -.9a3 3 0 0 1 -1.436 -2.561v-6.635a3 3 0 0 1 1.436 -2.56l6 -3.667a3 3 0 0 1 3.128 0l6 3.667a3 3 0 0 1 1.436 2.561v6.634a3 3 0 0 1 -1.436 2.56l-6 3.667a3 3 0 0 1 -3.128 0" />
						<path d="M17 9h-3.5a1.5 1.5 0 0 0 0 3h2a1.5 1.5 0 0 1 0 3h-3.5" />
					</g>
					<g id={`c-icon-tag-${icons.static.icon}`}  stroke-width="1" stroke="none" fill="currentColor" data-color="#6EC5E3">
						<path  d="M 2.61 4.594 C 2.699 4.459 2.755 4.332 2.843 4.235 C 4.139 2.815 5.613 1.655 7.421 0.926 C 8.58 0.459 9.767 0.195 11.002 0.06 C 13.006 -0.158 14.91 0.238 16.739 0.996 C 17.881 1.47 18.912 2.149 19.853 2.981 C 20.916 3.92 21.772 5.006 22.485 6.218 C 22.559 6.344 22.624 6.478 22.681 6.614 C 22.825 6.956 23.002 7.224 23.403 7.353 C 23.888 7.51 24.101 8.039 23.954 8.5 C 23.822 8.915 23.343 9.184 22.851 9.118 C 22.432 9.062 22.092 8.647 22.127 8.151 C 22.181 7.372 21.728 6.784 21.367 6.194 C 20.62 4.971 19.659 3.918 18.472 3.093 C 18.067 2.811 17.645 2.548 17.215 2.305 C 16.892 2.122 16.779 2.2 16.778 2.571 C 16.773 3.381 16.791 4.191 16.766 5.001 C 16.76 5.192 16.664 5.419 16.534 5.56 C 16.097 6.038 15.633 6.492 15.164 6.939 C 14.944 7.148 14.956 7.324 15.101 7.576 C 15.35 8.01 15.652 8.215 16.192 8.187 C 17.215 8.134 18.243 8.182 19.269 8.166 C 19.585 8.161 19.701 8.26 19.689 8.583 C 19.667 9.135 19.692 9.69 19.679 10.243 C 19.672 10.497 19.746 10.606 20.02 10.601 C 20.857 10.587 21.694 10.604 22.531 10.585 C 22.645 10.582 22.81 10.464 22.858 10.357 C 23.033 9.975 23.405 10.157 23.666 10.036 C 23.743 10.205 23.872 10.369 23.886 10.543 C 23.939 11.199 23.99 11.859 23.978 12.516 C 23.936 14.781 23.215 16.839 21.962 18.705 C 21.508 19.383 21.002 20.044 20.422 20.614 C 19.482 21.539 18.407 22.303 17.205 22.874 C 15.768 23.556 14.263 23.934 12.669 24.025 C 10.466 24.15 8.397 23.705 6.446 22.705 C 5.042 21.985 3.828 21 2.817 19.8 C 1.924 18.74 1.254 17.531 0.741 16.236 C 0.646 15.997 0.453 15.789 0.276 15.593 C -0.049 15.233 -0.093 14.69 0.202 14.346 C 0.554 13.934 1.076 13.86 1.496 14.161 C 1.841 14.409 1.992 14.909 1.787 15.289 C 1.6 15.634 1.624 15.947 1.792 16.278 C 1.871 16.434 1.924 16.602 1.995 16.762 C 2.299 17.452 2.375 17.454 2.937 16.943 C 3.594 16.347 4.29 15.793 4.94 15.189 C 5.105 15.036 5.242 14.768 5.252 14.547 C 5.287 13.698 5.279 12.846 5.259 11.996 C 5.251 11.67 5.333 11.542 5.683 11.555 C 6.37 11.581 7.06 11.553 7.748 11.568 C 8.022 11.574 8.141 11.499 8.127 11.205 C 8.106 10.774 8.113 10.341 8.123 9.91 C 8.129 9.681 8.039 9.598 7.814 9.604 C 7.395 9.615 6.976 9.596 6.558 9.611 C 6.307 9.621 6.226 9.524 6.235 9.281 C 6.249 8.876 6.225 8.47 6.241 8.066 C 6.252 7.771 6.148 7.661 5.844 7.664 C 4.63 7.678 3.414 7.678 2.199 7.664 C 1.921 7.66 1.788 7.763 1.696 8.014 C 1.183 9.418 0.901 10.858 0.96 12.358 C 0.966 12.51 0.961 12.76 0.881 12.8 C 0.662 12.907 0.401 12.936 0.152 12.965 C 0.118 12.969 0.029 12.804 0.024 12.714 C -0.098 10.758 0.241 8.883 1.047 7.099 C 1.451 6.205 1.909 5.34 2.61 4.594 M 14.054 22.909 C 14.251 22.867 14.45 22.836 14.644 22.782 C 16.323 22.319 17.856 21.591 19.173 20.417 C 19.508 20.119 19.452 19.989 19.177 19.75 C 18.466 19.132 17.759 18.509 17.063 17.874 C 16.278 17.156 16.513 17.002 15.574 17.994 C 15.437 18.138 15.207 18.257 15.012 18.271 C 14.475 18.309 13.933 18.29 13.393 18.282 C 13.057 18.277 12.928 18.422 12.975 18.756 C 13.035 19.186 12.974 19.252 12.54 19.253 C 11.433 19.256 10.326 19.254 9.219 19.254 C 8.128 19.253 8.135 19.253 8.114 18.172 C 8.11 17.984 8.074 17.746 7.957 17.62 C 7.406 17.027 6.83 16.457 6.24 15.902 C 6.151 15.818 5.882 15.786 5.797 15.855 C 4.902 16.588 4.027 17.345 3.148 18.097 C 2.959 18.259 2.966 18.416 3.118 18.62 C 3.825 19.569 4.653 20.398 5.618 21.074 C 8.147 22.847 10.95 23.419 14.054 22.909 M 10.735 14.472 C 11.343 14.472 11.95 14.485 12.557 14.467 C 12.881 14.457 12.986 14.584 12.975 14.895 C 12.958 15.407 12.97 15.921 12.97 16.434 C 12.971 17.231 12.97 17.235 13.73 17.336 C 13.956 17.366 14.193 17.4 14.413 17.363 C 14.641 17.324 14.903 17.256 15.066 17.107 C 15.613 16.607 16.13 16.072 16.643 15.536 C 16.744 15.43 16.827 15.261 16.832 15.118 C 16.853 14.525 16.836 13.93 16.844 13.337 C 16.847 13.099 16.758 12.991 16.511 12.999 C 16.174 13.01 15.836 13.002 15.499 13 C 14.826 12.996 14.905 13.067 14.903 12.385 C 14.901 11.426 14.911 10.468 14.895 9.51 C 14.892 9.319 14.832 9.11 14.737 8.945 C 14.535 8.596 14.314 8.255 14.059 7.944 C 13.949 7.809 13.739 7.689 13.568 7.682 C 12.868 7.653 12.165 7.684 11.464 7.662 C 11.146 7.652 11.065 7.775 11.083 8.065 C 11.103 8.388 11.089 8.712 11.088 9.036 C 11.087 9.593 11.065 9.615 10.529 9.613 C 10.205 9.611 9.879 9.628 9.557 9.605 C 9.228 9.582 9.136 9.723 9.142 10.031 C 9.158 10.719 9.141 11.408 9.15 12.096 C 9.155 12.405 9.038 12.529 8.718 12.52 C 8.016 12.503 7.314 12.524 6.613 12.511 C 6.329 12.505 6.226 12.616 6.236 12.893 C 6.249 13.283 6.217 13.677 6.251 14.066 C 6.267 14.248 6.351 14.457 6.473 14.591 C 6.946 15.109 7.445 15.603 7.937 16.101 C 7.967 16.131 8.028 16.129 8.121 16.155 C 8.121 15.717 8.138 15.314 8.116 14.913 C 8.098 14.584 8.204 14.455 8.549 14.466 C 9.25 14.488 9.952 14.472 10.735 14.472 M 10.167 4.828 C 10.315 4.828 10.465 4.842 10.612 4.825 C 10.988 4.781 11.121 4.941 11.094 5.312 C 11.068 5.675 11.097 6.04 11.085 6.404 C 11.076 6.659 11.167 6.759 11.433 6.772 C 13.828 6.891 13.827 6.894 15.501 5.179 C 15.538 5.14 15.593 5.109 15.612 5.063 C 15.704 4.834 15.85 4.604 15.86 4.37 C 15.891 3.616 15.855 2.86 15.878 2.105 C 15.888 1.755 15.75 1.582 15.424 1.509 C 14.953 1.403 14.492 1.246 14.017 1.177 C 13.314 1.074 12.602 0.963 11.897 0.98 C 11.124 0.999 10.356 1.174 9.583 1.252 C 9.254 1.285 9.14 1.43 9.144 1.743 C 9.154 2.458 9.147 3.173 9.148 3.887 C 9.148 4.829 9.148 4.829 10.167 4.828 M 21.925 16.829 C 22.719 15.276 23.064 13.625 23.012 11.885 C 23.005 11.65 22.926 11.542 22.679 11.544 C 21.775 11.552 20.87 11.55 19.966 11.545 C 19.762 11.543 19.669 11.616 19.676 11.827 C 19.686 12.097 19.664 12.368 19.682 12.637 C 19.701 12.927 19.573 13.015 19.299 13.005 C 18.882 12.99 18.463 13.009 18.045 12.998 C 17.818 12.992 17.732 13.076 17.736 13.304 C 17.747 13.817 17.706 14.332 17.75 14.842 C 17.795 15.37 17.647 15.793 17.243 16.123 C 16.946 16.366 16.978 16.562 17.26 16.804 C 18.178 17.593 19.084 18.396 19.99 19.201 C 20.156 19.349 20.286 19.376 20.417 19.173 C 20.909 18.409 21.403 17.646 21.925 16.829 M 6.911 2.222 C 6.8 2.27 6.682 2.307 6.579 2.368 C 5.354 3.099 4.289 4.026 3.361 5.103 C 3.032 5.485 2.786 5.942 2.512 6.371 C 2.359 6.61 2.371 6.772 2.724 6.77 C 3.776 6.763 4.828 6.762 5.88 6.771 C 6.137 6.772 6.25 6.683 6.242 6.418 C 6.23 6.014 6.248 5.609 6.236 5.205 C 6.227 4.924 6.343 4.817 6.62 4.826 C 7.024 4.84 7.429 4.825 7.834 4.832 C 8.04 4.835 8.174 4.78 8.173 4.542 C 8.17 3.706 8.173 2.87 8.17 2.033 C 8.169 1.774 8.053 1.694 7.807 1.813 C 7.529 1.947 7.245 2.065 6.911 2.222 M 10.115 6.978 C 10.115 6.681 10.115 6.385 10.114 6.088 C 10.113 5.849 10.027 5.721 9.751 5.727 C 9.027 5.741 8.303 5.737 7.579 5.727 C 7.327 5.724 7.204 5.804 7.207 6.073 C 7.215 6.841 7.214 7.61 7.207 8.378 C 7.204 8.625 7.311 8.711 7.548 8.709 C 8.276 8.702 9.004 8.703 9.732 8.708 C 10.009 8.71 10.121 8.58 10.118 8.313 C 10.111 7.895 10.116 7.477 10.115 6.978 M 15.967 9.139 C 15.914 9.238 15.818 9.336 15.816 9.436 C 15.804 10.191 15.809 10.947 15.811 11.703 C 15.811 11.957 15.941 12.056 16.195 12.053 C 16.923 12.044 17.653 12.042 18.381 12.054 C 18.646 12.058 18.738 11.958 18.735 11.698 C 18.724 10.956 18.722 10.213 18.736 9.471 C 18.741 9.208 18.654 9.114 18.388 9.119 C 17.605 9.133 16.822 9.125 15.967 9.139 M 9.147 17.741 C 9.147 18.353 9.147 18.352 9.771 18.351 C 10.378 18.351 10.985 18.341 11.592 18.356 C 11.879 18.363 12.011 18.283 12.004 17.97 C 11.987 17.228 11.989 16.485 12.002 15.743 C 12.007 15.456 11.892 15.366 11.618 15.371 C 10.93 15.383 10.241 15.388 9.553 15.369 C 9.226 15.361 9.133 15.491 9.142 15.8 C 9.159 16.42 9.147 17.041 9.147 17.741 Z"/>
					</g>
					
				</defs>
				<defs data-namespace="header-icons">
					<g id={`c-icon-header-${s[c++].id}`}
						stroke-width="0"
						stroke="none"
						fill="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round">
						<path d="M22 13.478v4.522a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-4.522l.553 .277a20.999 20.999 0 0 0 18.897 -.002l.55 -.275zm-8 -11.478a3 3 0 0 1 3 3v1h2a3 3 0 0 1 3 3v2.242l-1.447 .724a19.002 19.002 0 0 1 -16.726 .186l-.647 -.32l-1.18 -.59v-2.242a3 3 0 0 1 3 -3h2v-1a3 3 0 0 1 3 -3h4zm-2 8a1 1 0 0 0 -1 1a1 1 0 1 0 2 .01c0 -.562 -.448 -1.01 -1 -1.01zm2 -6h-4a1 1 0 0 0 -1 1v1h6v-1a1 1 0 0 0 -1 -1z"/>
					</g>
					<g id={`c-icon-header-${s[c++].id}`}
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round">
						<path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
						<path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
						<path d="M9.7 17l4.6 0" />
					</g>
					<g id={`c-icon-header-${s[c++].id}`}
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round">
						<path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" />
						<path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" stroke-width="0" fill="currentColor" />
					</g>
				</defs>
			</svg>

			<section class="my-12 px-2">
				<h2 id={s[(c = 0)].id} class="text-2xl block my-4 font-semibold leading-none">
					<svg
						class="inline-block size-7"
						style="vertical-align: -5px;"
						viewBox="0 0 24 24">
						<use href={`#c-icon-header-${s[c].id}`}/>
					</svg>
					{ s[c++].label }
				</h2>
				
				<div class="mr-auto max-w-3xl pl-3">
					<TimeLine
						className="c-timeline-experience"
						title={{ level : 3}}
						list={[
							{
								date: new Date("2023-9"),
								title: "Human Habitat Peru",
								content: [
									"Diseño, puesta en marcha y mantenimiento de sitio web de Human Habitat Perú.",
									"Se desarrolló una landing page que cumple con estandares de SEO y buenas practicas, un blog y sistema de contacto. Además, se diseño una base de datos estructurada local."
								],
								link: "https://hhpbim.com",
							}
						]}
					/>
				</div>
			</section>
			<section class="my-12 px-2">
				<h2 id={s[c].id} class="text-2xl block my-4 font-semibold leading-none">
					<svg
						class="inline-block size-7"
						style="vertical-align: -5px;"
						viewBox="0 0 24 24">
						<use href={`#c-icon-header-${s[c].id}`}/>
					</svg>
					{ s[c++].label }
				</h2>
				<ul class="c-ul-project-list">{
					projects.map(p => (<li class="">
						<article class="bg-panel dark:bg-hierarchy-3 border border-hierarchy-3">

							<div class="rounded-t-md overflow-clip aspect-square relative">
								<div class="c-sec-links">
									{ p.link && <a class="shadow-md shadow-black/40 bg-panel hover:bg-hierarchy-3 dark:bg-hierarchy-3 dark:hover:bg-hierarchy-2" target="_blank" href={p.link}>
										<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" />
											</svg>
										</a>	}
									{ p.repo && <a class="shadow-md shadow-black/40 bg-panel hover:bg-hierarchy-3 dark:bg-hierarchy-3 dark:hover:bg-hierarchy-2" target="_blank" href={p.repo}>
										<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
											</svg>
										</a>	}
								</div>
								<img class="block h-full object-cover min-w-full" src={p.img} alt={`captura/imagen de la aplicación/proyecto ${p.title}`}/>
							</div>

							
							<div class="leading-none">
								<h3 class="text-2xl leading-tight font-semifold my-4">{p.title}</h3>
								
								<div class="collapsible">
									<div>
										<p class="mb-2 leading-tight">{p.descr}</p>
									</div>
								</div>
								
								<ul class="c-ul-project-tags">{p.tags.map(t => icons[t]).map(t =>
									(<li class="block" style={`--icon-color: ${t.color}`}>
										<svg width="24" height="24" >
											<title>{t.label}</title>
											<use href={`#c-icon-tag-${t.icon}`}/>
										</svg>
									</li>)
								)}</ul>
							</div>
						</article>
					</li>))
				}</ul>
			</section>
			<section class="my-12" data-col="total">
				<div class="max-w-[var(--max-width)] mx-auto px-2">
					<h2 id={s[c].id } class="text-2xl block my-4 font-semibold leading-none">
						<svg
							class="inline-block size-7"
							style="vertical-align: -5px;"
							viewBox="0 0 24 24">
							<use href={`#c-icon-header-${s[c].id}`}/>
						</svg>
						{ s[c++].label }
					</h2>
				</div>

				<div class="mt-12 mb-4 bg-[var(--panel-color)] px-2" style="box-shadow: 0 .125rem .75rem 0rem #4446" >
					<div
						class="max-w-[var(--max-width)] py-2 flex mx-auto items-center gap-4 flex-col mt-32 md:mt-0 md:flex-row">
						<picture class="contents">
							<img
								class="md:scale-150 w-32 -mt-20  md:my-0 md:mx-8 block rounded-full overflow-clip border-2 border-[var(--hierarchy-2)] dark:border-white"
								src={imgAuthor}
								width="112"
								height="112"
								alt="avatar del desarrollador"
							/>
						</picture>

						<div class="max-w-2xl text-hierarchy-1" >
							<p class="my-2">
								Soy un Ingeniero de Sistemas que disfruta del proceso de diseño y producción de aplicaciones y diseños para la web. 
								Considero que cada idea es una oportunidad para expandir y crear experiencias únicas y memorables.
							</p>
							<p class="my-2">
								Mis principios de diseño son tanto la apariencia y expresividad como la accesibilidad y usabilidad.
							</p>
						</div>
					</div>
				</div>

				<section class="p-2 my-4 mb-12 mx-auto max-w-[var(--max-width)] text-center md:text-right">
					<h3 class="font-semibold text-xl mb-4 leading-none">Mi <i>Stack</i></h3>
					<p class="my-4">
						Estas son las tecnologías que uso para convertir ideas en <span class="bg-gradient-to-tr from-purple-500 to-cyan-400 bg-clip-text text-transparent font-semibold">experiencias</span>.
					</p>
					<ul class="flex flex-wrap gap-2 justify-center md:justify-end md:pl-48">
						{
							Object.values(icons).map( i => (<li style={`--icon-color: ${ i.color }`} class="transition-colors duration-300 p-3 rounded-md border border-current hover:text-panel hover:bg-[var(--icon-color)] hover:border-transparent">
								<svg viewBox="0 0 24 24" width="28">
									<title>{ i.label }</title>
									<use stroke="currentcolor" href={`#c-icon-tag-${i.icon}`}/>	
								</svg>	
							</li>)
							)
						}
					</ul>
				</section>

			</section>
		</Fragment>
	</Grid>
</Layout>

<style is:global>
	.c-timeline-experience {
		& {}

		& li[data-index="0"] .title { 
			background-image : linear-gradient(to bottom right,#5193ca,#27B887);
			background-clip: text;
			color: transparent;
		}
	}
	.c-ul-project-list {
		& {
			@apply grid grid-flow-row grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2;
		}

		& > li > article {
			& {
				@apply p-2 rounded-xl flex flex-col relative;
				
				height: 30rem;
				overflow: clip;

				box-shadow: 0 .5rem 1.5rem -.5rem #0006;
			}
			& > div { overflow: hidden; }
			& > div:first-child { flex: 0 1 100%; }
			& > div:last-child  { flex: 1 0 auto; }

			& div.collapsible  { 
				& {
					display: grid;
					grid-template-rows: 0fr;
					transition: grid-template-rows .3s;
				}
				& > div:only-child { overflow: hidden; }
			}

			&:hover div.collapsible  { grid-template-rows: 1fr; }

			& .c-ul-project-tags {
				& {
					@apply flex flex-row flex-nowrap gap-2 items-start justify-end;
				}

				& > li {
					@apply rounded-md aspect-square grid place-items-center;
					border : 1px solid var(--hierarchy-0);
					
					width: 3rem;
					stroke: currentColor;

					transition: background-color .3s, border-color .3s;
				}
				
				& > li:hover {
					background-color: var(--icon-color);
					border-color: var(--panel-color);
				}
				& > li:hover > svg { filter: invert(1); }
			}

			&:hover .c-sec-links {
				translate : 0 0rem;
				opacity : 1;
			}
			& .c-sec-links {
				& {
					translate : 0 -2rem;
					opacity : 0;

					transition: translate .3s, opacity .3s;
					
					position: absolute;
					top: .5rem;
					left : .5rem;
					display: flex;
					gap : .5rem;
				}

				& > a {
					display: flex;
					align-items: center;
					padding-inline: .5rem;
					border-radius: 50%;
					aspect-ratio: 1;
				}				
			}
		}
	}
</style>